<%- include('../partials/main'); %>
<body>
  <%- include('../partials/header'); %>
  <section class="main">
    <div class="employee">
    <h3>Informacje o <%= user.firstname %> <%= user.lastname %>!</h3>
    <p>email: <%= user.email %></p>
    </div>
    <div class="home-container">
    <h3>Zaplanowane terminy użytkownika:</h3>
    <table>
      <tr>
        <th>Dzień</th>
        <th>rozpoczęcie</th>
        <th>zakończenie</th>
      </tr>
      <% for (let i = 0; i < userData.length; i++) { %>
      <tr>
        <td><%= userData[i].day %></td>
        <td><%= userData[i].start_at %></td>
        <td><%= userData[i].end_at %></td>
      </tr>
      <% } %>
    </table>
  </div>
  </section>
