<%- include('../partials/main'); %>
<body>
  <%- include('../partials/header'); %>
  <section>
    <h3>Twoje zapisane spotkania:</h3>
    <table>
      <tr>
        <th>Dzień</th>
        <th>rozpoczęcie</th>
        <th>zakończenie</th>
      </tr>
      <tr>
        <% for (let i = 0; i < schedules.length; i++) {%>
          <td><%= schedules.[i].day %></td>
          <td><%= schedules.[i].start_at %></td> 
          <td><%= schedules.[i].end_at %></td>
        <% } %>
        
      </tr>
    </table>
    
  </section>